show_startup_tips false
show_release_notes false
// zellij's KGP breaks yazi previews; without it yazi falls back to ueberzugpp
support_kitty_graphics_protocol false

keybinds {
	shared_except "locked" {
		bind "Alt y" {
			Run "sh" "-c" "$XYZ_SHARE/scripts/yazi-toggle.sh" {
				floating true
				close_on_exit true
				borderless true
				x "0"
				y "0"
				width "1"
				height "1"
			}
		}
	}
}
