layout {
	pane split_direction="vertical" {
		pane name="Explorer" command="sh" size="25%" {
			args "-c" "exec yazi"
		}
		pane split_direction="horizontal" {
			pane name="Editor" command="sh" {
				args "-c" "exec $XYZ_EDITOR"
			}
			pane name="Terminal" size="25%"
		}
	}
	pane size=1 borderless=true {
		plugin location="zellij:status-bar"
	}
}
